Source: msdl
Section: web
Priority: extra
Maintainer: Chaoswizard <chaoswizard@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, libc6 (>= 2.6)
Standards-Version: 3.8.3
Homepage: http://msdl.sourceforge.net/

Package: msdl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libc6 (>= 2.6)
Description: downloader for mms://, rtsp:// etc.
 msdl (media stream downloader) is a multi-protocol
 downloader for various streaming protocols such as
 mms, mmsh, real-rtsp, wms-rtsp, ftp, and http
