[Desktop Entry]
Encoding=UTF-8
Name=TVDownloader
Name[en_GB]=TVDownloader
Comment=Télécharger des émissions et des podcasts.
Exec=tvdownloader
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/tvdownloader.png
Categories=Network;Recorder;
